<div class="login-form mt-5">
    <form action="/examples/actions/confirmation.php" method="post">
        <h2 class="text-center">Recover Password</h2>   
        <div class="form-group">
        	<div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="email" class="form-control" name="username" placeholder="Enter email id" required="required">				
            </div>
        </div>       
        <div class="form-group">
            <button type="submit" class="btn btn-primary login-btn btn-block">Submit</button>
        </div>
        <div class="clearfix">
            <a style="float: right;" routerLink="/" class="pull-right">Go Back</a>
        </div>
    </form>
    <p class="text-center text-muted small">Don't have an account? <a href="#">Sign up here!</a></p>
</div>
